<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.member.dao.member-mapper">
	<sql id="where-email">
		WHERE m_email=#{m_email}
	</sql>
	<!-- 이메일 중복확인 -->
	<select id="emailCheck" resultType="int" parameterType="String">
		SELECT COUNT(*)
		FROM member
		<include refid="where-email"/>
	</select>
	<!-- 닉네임 중복확인 -->
	<select id="nickCheck" resultType="int" parameterType="String">
		SELECT COUNT(*)
		FROM member
		WHERE m_nick=#{m_nick}
	</select>
	<!-- 회원가입 -->
	<insert id="memberJoin" parameterType="MemberVo">
		INSERT INTO member 
		VALUES(#{m_email},#{m_pwd},#{m_name},#{m_sex},#{m_birth},#{m_nick},SYSDATE,#{m_grade},#{m_tel},
				<choose>
				    <when test="m_grade==2">
				    	#{m_companyno},
				    </when>
				    <otherwise>
				    	'-',
				    </otherwise>
				</choose>
				<choose>
				    <when test="m_profile != null">
				    	#{m_profile}
				    </when>
				    <otherwise>
				    	'-'
				    </otherwise>
				</choose>
				)
	</insert>
	<!-- 로그인 -->
	<select id="isLogin" resultType="MemberVo" parameterType="String">
		SELECT m_email,m_pwd,m_nick,m_sex,m_profile,m_grade
		FROM member 
		<include refid="where-email"/>
	</select>
	<!-- 전화번호 체크 -->
	<select id="telCount" resultType="int" parameterType="String">
		SELECT COUNT(*)
		FROM member
		WHERE m_tel=#{m_tel}
	</select>
	<!-- 이메일 찾기 -->
	<select id="emailFind" resultType="MemberVo" parameterType="String">
		SELECT m_name,m_email
		FROM member
		WHERE m_tel=#{m_tel}
	</select>
	<!-- 비밀번호 찾기 -->
	<select id="pwdFind" resultType="MemberVo" parameterType="String">
		SELECT m_pwd,m_email
		FROM member
		WHERE m_tel=#{m_tel}
	</select>

	<!-- 회원정보 출력 -->
	<select id="memberInfo" resultType="MemberVo" parameterType="String">
		SELECT m_email,m_name,m_sex,m_nick,m_tel,m_grade,m_birth,m_regdate,m_companyno,m_profile
		FROM member
		<include refid="where-email"/>
	</select>
	<!-- mynick 중복확인-->
	<select id="myNickCheck" resultType="int" parameterType="java.util.Map">
		SELECT COUNT(*)
		FROM (select m_nick from member WHERE NOT m_nick=#{mynick})
		WHERE m_nick=#{m_nick}
	</select>
	<!-- 회원정보 수정 -->
	<update id="myinfo_update" parameterType="MemberVo">
		UPDATE member
			<set>
				m_nick=#{m_nick}
				<if test='m_grade eq 2'>, m_companyno=#{m_companyno}</if>
				<if test="m_profile != null">, m_profile=#{m_profile}</if>
			</set>
			WHERE m_email = #{m_email}
	</update>
	<!-- 비밀번호 수정 -->
	<update id="pwd_update" parameterType="java.util.Map">
		UPDATE member
		SET m_pwd = #{pwd}
		WHERE m_email = #{m_email}
	</update>
	<!-- 핸드폰번호 수정 -->
	<update id="tel_update" parameterType="java.util.Map">
		UPDATE member
		SET m_tel = #{tel}
		WHERE m_email = #{m_email}
	</update>
	<!-- 회원탈퇴 -->
	<delete id="member_delete" parameterType="String">
		DELETE FROM member WHERE m_email=#{m_email}
	</delete>
	
	<!-- 작성글 -->
	<select id="myBoardList" resultType="BoardVo" parameterType="java.util.Map">		
		SELECT b_no, b_subject, b_regdate, b_hit, num
		FROM (SELECT b_no, m_email, b_subject, b_regdate, b_hit, rownum AS num
		FROM (SELECT b_no, m_email, b_subject, b_regdate, b_hit
		FROM board WHERE m_email=#{m_email} ORDER BY b_no ASC))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<!-- 총페이지 -->
	<select id="myBoardTotalPage" resultType="int" parameterType="String">
		SELECT CEIL(COUNT(*)/5)
        FROM (SELECT * FROM board)
        WHERE m_email=#{m_email}
	</select>
	
	<!-- 찜목록 -->
	<!-- <resultMap type="MemberVo" id="myClubBar">
		<result property="m_email" column="m_email"/>
		<association property="eList" javaType="com.sist.event.dao.EventVO">
			<result property="cb_no" column="cb_no"/>
			<result property="cb_hit" column="cb_hit"/>
			<result property="cb_open" column="cb_open"/>
		</association>
	</resultMap>
	<select id="myClubBarList" resultMap="myClubBar" parameterType="java.util.Map">		
		SELECT m_email, cb_no, cb_name, cb_hit, cb_open, num
		FROM (SELECT m_email, cb_no, cb_name, cb_hit, cb_open, rownum AS num
		FROM (SELECT m.m_email, cb.cb_no, cb.cb_name, cb.cb_hit, cb_open
        FROM member m, clubbar cb, cart c 
		WHERE m.m_email=c.m_email AND c.cb_no=cb.cb_no 
		AND m.m_email=#{m_email} ORDER BY c.cb_no ASC))
		WHERE num BETWEEN #{start} AND #{end};
	</select>
	찜 총페이지
	<select id="myClubBarTotalPage" resultType="int" parameterType="String">
		SELECT CEIL(COUNT(*)/5)
        FROM (SELECT * FROM board)
        WHERE m_email=#{m_email}
	</select> -->
	
	<!-- 참여이벤트 -->
	<resultMap type="MemberVo" id="voMapping">
		<result property="m_email" column="m_email"/>
		<association property="evo" javaType="com.sist.event.dao.EventVO">
			<result property="e_no" column="e_no"/>
			<result property="e_name" column="e_name"/>
		</association>
	</resultMap>
	<select id="myEventList" resultMap="voMapping" parameterType="java.util.Map">		
		SELECT m_email, e_no, e_name, num
		FROM (SELECT m_email, e_no, e_name, rownum AS num
		FROM (SELECT m.m_email, e.e_no, e.e_name
        FROM member m, event e, event_cart ec 
		WHERE m.m_email=ec.m_email AND ec.e_no=e.e_no 
		AND m.m_email=#{m_email} ORDER BY e.e_no ASC))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<!-- 총페이지 -->
	<select id="myEventTotalPage" resultType="int" parameterType="String">
		SELECT CEIL(COUNT(*)/5)
        FROM (SELECT * FROM board)
        WHERE m_email=#{m_email}
	</select>
	<!-- 등록된 이벤트  불러오기 -->
	<resultMap type="EventVO" id="eventRegistCallData">
  	<result property="e_no" column="e_no"/>
  	<result property="cb_no" column="cb_no"/>
  	<result property="e_name" column="e_name"/>
  	<result property="e_regdate" column="e_regdate"/>
  	<result property="e_enddate" column="e_enddate"/>
  	<result property="e_content" column="e_content"/>
  	<result property="cb.cb_name" column="cb_name"/>
  	<result property="cb.a_addr1" column="a_addr1"/>
  	<result property="cb.a_addr2" column="a_addr2"/>
  </resultMap>
  <select id="eventCall" parameterType="java.util.Map" resultMap="eventRegistCallData">
  	SELECT c.cb_no,e.e_no,e.e_name,e.num
  	FROM clubbar c,(SELECT e_no,e_name,rownum as num
  	FROM (SELECT e_no,e_name
  	FROM event ORDER BY e_enddate ASC )) e
  	WHERE c.cb_no=e.cb_no AND num BETWEEN #{start} AND #{end}
  </select>
</mapper>


